@model u21478377_HW06.ViewModels.ProductVM

<div>
    <h4>ProductVM</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProductDetails.ProductId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
